@using EmployeeManagementSystem.BaseLibrary.Dtos.Client
@using EmployeeManagementSystem.Client.Pages.OtherPage
@using EmployeeManagementSystem.ClientLibrary.Helpers
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.Authorization
@inject AuthenticationStateProvider AuthStateProvider
@inherits LayoutComponentBase
@attribute [Authorize]

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <ProfileDropdown />
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
<Syncfusion.Blazor.Popups.SfDialogProvider />
@code {
    private async Task LogoutClicked()
    {
        var logoutModel = new UserSession();
        var customAuthStateProvider = (CustomAuthenticationStateProvider)AuthStateProvider;
        await customAuthStateProvider.UpdateAuthenticationState(logoutModel);
        NavManager.NavigateTo("/", forceLoad: true);
    }
}